<div class="container">
  <div>
    <!--Contenedor del evento-->
    <div class="contenedor">
      <div class="row center-xs">
        <div class="col-12">
          <div class="box">
            <h1>Evento</h1>
          </div>
        </div>
      </div>

      <p>
        Mario Benedetti nació en una próspera familia de inmigrantes italianos
        el 14 de septiembre de 1920 en el pequeño pueblo de Paso de los Toros.
        Como muchos uruguayos, provenía de una población de inmigrantes
        italianos y, siguiendo la costumbre italiana, recibió no menos de cinco
        nombres: Mario Orlando Hamlet Hardy Brenno. Con tan solo cuatro años
        Benedetti se fue a vivir a Montevideo. El joven Benedetti decidió desde
        el principio que quería ser escritor, a pesar de que tuvo que dedicarse
        a hacer trabajos muy diversos para sobrevivir. Benedetti comenzó su
        carrera literaria publicando poesía, pero pronto recurrió al cuento y la
        novela. En ellas pintó un retrato realista y crítico de la ascendente
        clase media uruguaya, a la que pertenecía.
      </p>
    </div>
  </div>
  <!--Contenedor de nota de los organizadores-->
  <div class="contenedor">
    <div class="row center-xs">
      <div class="col-12">
        <div class="box">
          <h1>Nota de los organizadores</h1>
        </div>
      </div>
    </div>

    <div>
      <p>
        La estabilidad de la sociedad uruguaya sobre la que Benedetti había
        escrito sufrió una presión creciente en la década de 1960. Escribió
        artículos políticos en Marcha pidiendo un cambio radical, y fue
        instrumental en ayudar a establecer el movimiento Frente Amplio, que
        buscaba reunir a todos los grupos de izquierda en Uruguay. Sin embargo,
        a principios de la década de 1970, como en otros países del cono sur de
        América Latina, la amenaza del cambio revolucionario llevó a los
        militares a intervenir y comenzar una represión política nunca antes
        vista en un país pacífico como Uruguay. En 1973, Benedetti se vio
        obligado a abandonar el país, y cuando cruzó el Río de la Plata para
        buscar refugio en Argentina, fue inmediatamente amenazado por un
        escuadrón de la muerte paramilitar de derecha y obligado a seguir
        adelante. Luego intentó establecerse en Perú, pero fue deportado después
        de seis meses. Finalmente se instaló en Cuba, donde trabajó para la
        editorial Casa de las Américas, y también comenzó a visitar la España
        posterior a Franco. Esta experiencia de exilio marcó fuertemente la
        segunda mitad de la vida de Benedetti. En el exilio publica dos de sus
        mejores poemarios, Poemas de otros (en 1974) y La casa y el ladrillo (en
        1977), así como una de sus novelas más conocidas, Primavera con una
        esquina rota, obra con la que recibe, en 1987, el Premio Llama de Oro.
        Aunque reconoció los aspectos positivos, como conocer nuevas personas,
        explorar diferentes entornos y lograr una reputación más amplia, sintió
        que nunca podría volver a casa. Fruto de todos estos viajes publicó, en
        1984, el libro El desexilio y otras conjeturas.
      </p>
    </div>
  </div>

  <!--Contenedor de los logos del congreso-->
  <div class="contenedorimg">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="https://www.utp.edu.co/" target="_blank">
            <img src="/assets/Logo_U.T.P.png" style="height: 70%;width: 55%;"
          /></a>
        </div>
        <div class="col-sm">
          <a
            href="https://academia.utp.edu.co/propiedades-magneticas-y-magnetoopticas-de-nuevos-materiales/"
            target="_blank"
          >
            <img src="/assets/gimm.png"
          /></a>
        </div>
        <div class="col-sm">
          <a
            href="https://academia.utp.edu.co/grupo-de-electrofisiologia/#:~:text=El%20GRUPO%20DE%20ELECTROFISIOLOG%C3%8DA%20es,la%20UNIVERSIDAD%20TECNOL%C3%93GICA%20DE%20PEREIRA. "
            target="_blank"
            ><img src="/assets/logo_gef.png" style="width: 70%;"
          /></a>
        </div>
        <div class="col-sm">
          <img src="/assets/Logo_U.T.P.png"  style="height: 70%;width: 55%;"/>
        </div>
      </div>
    </div>
  </div>

  <!--Contenedor del comite organizador-->

  <div class="contenedor">

    <div class="comite" style="text-align: center;">
        <h1>Comite organizador</h1>
  </div>
    <!-- ngFor del comite organizador-->

    <div *ngFor="let organizador of organizadores" class="card">
      <div class="row">
        <div class="col-2">
          <mat-card>
            <mat-card-title>{{ organizador.name }}</mat-card-title>
            <img mat-card-image src='{{"assets/" +organizador.image}}' />
            <mat-card-content>{{ organizador.descripcion }}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
 


  </div>
  



</div>
