.container{
    width: 100%;
    margin-top:70px;

}
.container img{
    width: 64%;
    height: 85%;
       
}

.contenedorimg{
    margin: 50px;
   text-align:center;
}

.card{
    width: 30%;
    height: 30%;
    margin-left: 1%;
    margin-top: 5%;
}

.card mat-card-content{
    text-align: justify;
}
