<div class="container">
  <div class="contenedor">
    <div>
      <h1>Para expositores</h1>
    </div>
    <mat-card class="autores">
      <mat-card-title>Profesionales</mat-card-title>
      <img mat-card-image src="assets/comite.jpg" />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum,
          necessitatibus eveniet corrupti aliquam minus recusandae, ut quisquam
          aut temporibus nesciunt? Voluptatem iusto laborum tempore minus
          repellat accusantium quo voluptatibus veniam amet asperiores
          aspernatur dicta nulla, perferendis officia illum temporibus
          perspiciatis est quod impedit rem laudantium beatae in nobis! Id
          veniam suscipit quisquam saepe eos amet dolore eaque assumenda quae,
          numquam asperiores officiis at repellendus. Quos deleniti quaerat
          velit doloribus voluptate cum temporibus sunt repellendus tenetur,
          veritatis ratione, reprehenderit eaque, veniam alias consectetur.
          Impedit molestias vitae incidunt! Cupiditate voluptas, id,
          repudiandae, voluptatibus eaque fuga magnam praesentium dolorem ab
          quod obcaecati.
        </p></mat-card-content
      >
      <button mat-raised-button>Pre inscripción</button>
    </mat-card>

    <mat-card class="autores">
      <mat-card-title>Estudiantes</mat-card-title>
      <img mat-card-image src="assets/comite.jpg" />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum,
          necessitatibus eveniet corrupti aliquam minus recusandae, ut quisquam
          aut temporibus nesciunt? Voluptatem iusto laborum tempore minus
          repellat accusantium quo voluptatibus veniam amet asperiores
          aspernatur dicta nulla, perferendis officia illum temporibus
          perspiciatis est quod impedit rem laudantium beatae in nobis! Id
          veniam suscipit quisquam saepe eos amet dolore eaque assumenda quae,
          numquam asperiores officiis at repellendus. Quos deleniti quaerat
          velit doloribus voluptate cum temporibus sunt repellendus tenetur,
          veritatis ratione, reprehenderit eaque, veniam alias consectetur.
          Impedit molestias vitae incidunt! Cupiditate voluptas, id,
          repudiandae, voluptatibus eaque fuga magnam praesentium dolorem ab
          quod obcaecati.
        </p></mat-card-content
      >
      <button mat-raised-button>Pre inscripción</button>
    </mat-card>
  </div>



  <!--Contenedor de nota de los organizadores-->
  <div class="contenedor">
    <div class="row center-xs">
      <div class="col-12">
        <div class="box">
          <h1>Para evaluadores</h1>
        </div>
      </div>
    </div>

    <div>
      <p>
        La estabilidad de la sociedad uruguaya sobre la que Benedetti había
        escrito sufrió una presión creciente en la década de 1960. Escribió
        artículos políticos en Marcha pidiendo un cambio radical, y fue
        instrumental en ayudar a establecer el movimiento Frente Amplio, que
        buscaba reunir a todos los grupos de izquierda en Uruguay. Sin embargo,
        a principios de la década de 1970, como en otros países del cono sur de
        América Latina, la amenaza del cambio revolucionario llevó a los
        militares a intervenir y comenzar una represión política nunca antes
        vista en un país pacífico como Uruguay. En 1973, Benedetti se vio
        obligado a abandonar el país, y cuando cruzó el Río de la Plata para
        buscar refugio en Argentina, fue inmediatamente amenazado por un
        escuadrón de la muerte paramilitar de derecha.
      </p>
    </div>
  </div>














  <div class="contenedor">
    <div>
      <h1>Pagos</h1>
    </div>
    <mat-card class="pagos">
      <mat-card-title>Bancolombia</mat-card-title>
      <img mat-card-image src="https://www.forcepoint.com/sites/default/files/case_study_logos/grupo-bancolombia.png" style="margin-bottom: 7%;" />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum,
          necessitatibus eveniet corrupti aliquam minus recusandae, ut quisquam
          aut temporibu consgignar al numero de cuenta 12344553 y enviar el comprobante de pago al correo: mdnd@utp.edu.co
        </p></mat-card-content
      >
    </mat-card>

    <mat-card class="pagos">
      <mat-card-title>Davivienda</mat-card-title>
      <img mat-card-image src="https://losmolinos.com.co/wp-content/uploads/2020/10/DVIVIENDA.jpg"/>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum,
          necessitatibus eveniet corrupti aliquam minus recusandae, ut quisquam
          aut temporibu  consgignar al numero de cuenta 12344553 y enviar el comprobante de pago al correo: mdnd@utp.edu.co
        </p></mat-card-content
      >
    </mat-card>
  </div>












</div>
