

<div class="container">


    <h1 style="text-align: center;margin-top: 5%;">Formulario de Pre Inscripción </h1>

    <div class="contenedor">
        
        <div class="titulos "> <h2> Tipo de documento</h2>
        </div>


        
        <div class="row" style="text-align: center;">

             <!-- Input de Documento-->
    

            <div class="col-xs-6">
            
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="ejemplo@gmail.com">
                </mat-form-field>
        
            </div>
        
            <div class="col-xs-6">

                <h2> </h2>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Ex. Pizza" type="password" value="12345">
                </mat-form-field>
            </div>
    
        </div>

        <button mat-raised-button>Ingresar</button>

    </div>

</div>