<mat-toolbar class="footer"style="background-color:#0D636E" >
    <mat-toolbar-row>

      <div class="container">

        <div class="row between-xs">
          <div class="col-xs-2">
              <div class="box">
                 <h5> Universidad Tecnologica de Pereira</h5> 
              </div>
          </div>
          <div class="col-xs-2">
              <div class="box">
                  <h5>IBERCTHERM 20222 </h5>
              </div>
          </div>
          <div class="col-xs-2">
              <div class="box">
                  <h5>termografia infrarroja  </h5>
              </div>
          </div>
      </div>

      </div>
      
    </mat-toolbar-row>
